div
{
	 margin: 50px 93px 53px 92px;
    border: 5px solid red;
    padding: 20px 22px 21px 48px;
    box-shadow: 5px 6px 13px blue;
    text-align: justify;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 19px;
    font-style: oblique;
    font-weight: 800;
    font-family: sans-serif;

}